<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--是否使用缓存 开发中禁用-->
        <setting name="cacheEnabled" value="false"/>
        <!--下划线和驼峰式命名法的匹配  -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--使用启用懒加载机制  true启用-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--日志-->
        <setting name="logImpl" value="LOG4J2"></setting>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25"/>
        <setting name="defaultFetchSize" value="100"/>
        <setting name="safeRowBoundsEnabled" value="false"/>
        <setting name="localCacheScope" value="SESSION"/>
        <setting name="jdbcTypeForNull" value="OTHER"/>
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
    </settings>

    <typeAliases>
        <!--给类起别名-->
        <!--<typeAlias type="com.qy.domain.Question" alias="Question"></typeAlias>-->
        <!--给包中所有的类起别名 默认名字为类名 -->
        <package name="com.wang.domain"></package>
    </typeAliases>

    <mappers>
        <!--引入mapper映射文件的位置-->
        <!-- <mapper resource="mapper/UserMapper.xml"/>
         <mapper resource="com/qy/mapper/QuestionMapper.xml"/>
         <mapper resource="com/qy/mapper/DeptMapper.xml"/>
         <mapper resource="com/qy/mapper/EmpMapper.xml"/>-->
    </mappers>


</configuration>