<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wang.mapper.ItemCategoryMapper">
    <!--获取根目录-->
    <select id="getRoot" resultType="ItemCategory">
        select * from item_category where parent_id=0
    </select>
    <!--验证品类名称-->
    <select id="testName" resultType="String">
        select name from item_category where name=#{name} and parent_id != 0
    </select>
    <!--添加品类-->
    <insert id="addItemCategory" parameterType="ItemCategory">
        insert into item_category(parent_id,name,sort,is_parent)values(#{parentId},#{name},#{sort},#{isParent})
    </insert>
    <!--获取二级目录-->
    <select id="getPro" resultType="ItemCategory">
        select * from item_category where parent_id=#{parentId}
    </select>
    <!--查询所有分类-->
    <select id="selectAll" resultType="ItemCategory">
        select * from item_category
        <where>
            <if test="root!=-1">(id=#{root} or parent_id=#{root})</if>
            <if test="pro!=-1">and id=#{pro}</if>
            <if test="status!=-1">and status=#{status}</if>
        </where>
        limit #{page},#{num}
    </select>
    <!--获取根目录-->
    <select id="getRootById" resultType="ItemCategory">
        select * from item_category where id=#{id} and is_parent=1
    </select>
    <!--修改状态-->
    <update id="updateStatus" parameterType="ItemCategory">
        update item_category set status=#{status} where id=#{id}
    </update>
    <!--删除-->
    <delete id="delete">
        delete from item_category where id=#{id}
    </delete>
    <!--获取指定ItemCategory-->
    <select id="getItemCategoryById" resultType="ItemCategory">
        select * from item_category where id=#{id}
    </select>
    <!--修改分类-->
    <update id="editItemCategory" parameterType="ItemCategory">
        update item_category set name=#{name},sort=#{sort} where id=#{id}
    </update>
    <!--获取所有二级目录-->
    <select id="getProAll" resultType="ItemCategory">
        select * from item_category where is_parent=0;
    </select>
    <!--首页展示商品一对多-->
    <select id="getShowItem" resultType="item">
        select i.c_id,i.id,i.title,i.sell_point,i.price,i.num,i.img_path,i.status from item i,item_category c
        where i.c_id=c.id and i.status=1 and c.parent_id=#{parentId} order by i.createtime desc limit 0,5
    </select>
    <resultMap id="item" type="ItemCategory" autoMapping="true">
        <collection property="list" ofType="Item" autoMapping="true">
        </collection>
    </resultMap>
    <!--获取更多商品-->
    <select id="getShowAllItem" resultType="item">
        select i.c_id,i.id,i.title,i.sell_point,i.price,i.num,i.img_path,i.status from item i,item_category c
        where i.c_id=c.id and i.status=1 and c.parent_id=#{parentId} order by i.createtime desc limit 0,5
    </select>
    <!--首页列表一对多-->
    <select id="getListItem" resultType="item">
        select i.c_id,i.id,i.title,i.status from item i,item_category c
        where i.c_id=c.id and i.status=1 and i.c_id=#{id} order by i.createtime desc
    </select>
</mapper>